@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fonts/Montserrat Regular.woff2') format('woff2'),
         url('/fonts/Montserrat Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/fonts/Montserrat Medium.woff2') format('woff2'),
         url('/fonts/Montserrat Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('/fonts/Playfair Display Regular.woff2') format('woff2'),
         url('/fonts/Playfair Display Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Regular italic';
    src: url('/fonts/Playfair Display Regular italic.woff2') format('woff2'),
         url('/fonts/Playfair Display Regular italic.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Bold';
    src: url('/fonts/Playfair Display Bold.woff2') format('woff2'),
         url('/fonts/Playfair Display Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}