@import url("../css/fonts.css");
@import url("../css/svg_style.css");

body{
  padding-top: 26px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font‑display: swap;
  color: #ae7c78;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  font-family:'Playfair Display Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}


/* header */
.header_logo {
  position: absolute;
  top: 36px;
  left: calc(50% - 75px);
}

.header_navigation_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
}

.navigation_list_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.navigation_list li {
  margin: 0 auto;
}

.navigation_list a {
  position: relative;
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header_navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    justify-content: space-between;
}

.header_navigation a {
  color: #ae7c78;
}

.header_navigation a::after,
.header_navigation a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ae7c78;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.header_navigation a::before,
.header_navigation a::before {
  position: absolute;
  content: "";
  bottom: 19px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ae7c78;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.header_navigation a:hover::after,
.header_navigation a:hover::after {
  width: 100%;
}

.header_navigation a:hover::before,
.header_navigation a:hover::before {
  width: 100%;
}

.nav__wrap .logo-link::before,
.nav__wrap .logo-link::after {
  background: none;
}

.header_promo_text h1 {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
}

.header_promo_text h1 span {
  font-family: 'Playfair Display Regular italic';
}

.header_promo_text p {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.button_link {
  display: block;
  max-width: 280px;
  padding: 28px 0;
  background: #d89999;
  border-radius: 40px;
  border: 2px solid #d89999;
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.button {
  width: 285px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: auto;
  padding-right: auto;
  background: #d89999;
  border-radius: 40px;
  border: 2px solid #d89999;
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.button:hover,.button_link:hover {
  background: #ffffff;
  color: #ae7c78;
}


/* section benefits */
.benefits_wrapper {
  /* text-align: center;
  display: flex;
  justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: space-between;
}

.benefits_block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.benefits_text {
  margin-left: 20px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}


.benefits_text h3 {
  font-family: 'Montserrat Medium';
  font-weight: 500;
}

.benefits_text p {
  font-family: 'Montserrat Regular';
  font-weight: 400;
}


/* section slider */
.slider_wrapper {
  max-width: 792px;
}

.bouquet_name {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.description {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.size {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.price {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}


/* section popular */
.popular {
  text-align: center;
}

.slider_wrapper {
  display: flex;
  justify-content: center;
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
}

.slider_order_wrapper {
  text-align: left;
}

.slider_text {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: start;
}

.slider_text span {
  display: block;
}


/* section catalog */
.catalog_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog_block {
  height: 442px;
  width: 388px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border-radius: 10px;
  color: #ffffff;
  opacity: 0.7;
  text-align: center;
}

.catalog_block:nth-child(1) {
  background: url('../img/bg_bouquet.png') no-repeat center;
}

.catalog_block:nth-child(2) {
  background: url('../img/bg_bouquet2.png') no-repeat center;
}

.catalog_block:nth-child(3) {
  background: url('../img/bg_bouquet3.png') no-repeat center;
}

.catalog_block:hover {
  opacity: 1;
}

.catalog_link {
  font-family: 'Playfair Display Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
}


/* section discount */
.discount_wrapper {
  max-height: 391px;
  display: flex;
  justify-content: space-between;
  background: #AE7C78;
  color: #ffffff;
}

.discount_text {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #AE7C78;
}

.text_wrapper {
  width: 390px;
}

.text_wrapper h3 {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
}

.text_wrapper p {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}


/* section steps */
.steps_container {
  text-align: center;
}

.steps_wrapper {
  display: flex;
  justify-content: space-around;
}

.steps_block {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.steps_block h3 {
  font-family: 'Montserrat Medium';
  font-weight: 500;
}

.steps_block p {
  font-family: 'Montserrat Regular';
  font-weight: normal;
  text-align: center;
}



/* section news */
.news_wrapper {
  display: flex;
  justify-content: space-between;
}

.news_text {
  text-align: left;
}


.news_text p {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

/* section reviews */
.reviews {
  text-align: center;
}

.reviews_container {
  border: 1px solid #AE7C78;
}

.reviews_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews_block {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.reviews_block p {
  font-family: 'Montserrat Regular';
  font-weight: normal;
  text-align: center;
}

.reviews_block cite {
  font-family: 'Montserrat Medium';
  font-weight: 500;
  font-style: normal;
}


/* section contacts */
.contacts_wrapper{
  background: url('../img/map.png') no-repeat center;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 72px;
}

.contacts_text {
  width: 386px;
  margin-left: 100px;
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 65px;
  background: #F7FAFC;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts_text p {
  font-family: 'Montserrat Regular';
  font-weight: normal;
}

.contacts_text p span {
  font-family: 'Montserrat Medium';
  font-weight: 500;
}

.contacts_text a {
  color: #AE7C78;
}


/* footer */
.footer_wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #AE7C78;
}

.footer_navigation_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_navigation_menu {
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 800px;
}

.footer_navigation a {
  color: #ffffff;
}

.footer_navigation a::after,
.footer_navigation a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.footer_navigation a::before,
.footer_navigation a::before {
  position: absolute;
  content: "";
  bottom: 19px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.footer_navigation a:hover::after,
.footer_navigation a:hover::after {
  width: 100%;
}

.footer_navigation a:hover::before,
.footer_navigation a:hover::before {
  width: 100%;
}


.social_icons_list {
  display: flex;
  justify-content: space-between;
  max-width: 96px;
  height: 20px;
}

.social_icons_list li {
  margin-left: 6px;
  margin-right: 6px;
}

.social_icons_list li:first-child {
  margin-left: 0;
}

.social_icons_list li:last-child {
  margin-right: 0;
}

