body{
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 26px;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font‑display: swap;
  color: #ae7c78;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* flex-containers */
.flex-wrap {
  display: flex;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

ul,li{
  display: block;
  margin: 0;
  padding: 0;
}

h2 {
  font-family:'Playfair Display Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
}


/* header */
.header {
  position: relative;
  margin-bottom: 50px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #AE7C78;
  border-bottom: 1px solid #AE7C78;
}


.header_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-shrink: 0;
}


.nav_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.nav_list li {
  margin: 0 auto;
}

.list_item:first-child {
  margin-left: 0;
}

.list_item:last-child {
  margin-right: 0;
}

.list_item:nth-child(6n + 3) {
  margin-right: 124px;
}

.nav_link {
  display: block;
  position: relative;
  color: #ae7c78;
  font-family: 'Montserrat Regular';
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.nav_list .nav_link::after,
.nav_list .nav_link::after {
  position: absolute;
  content: " ";
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ae7c78;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav_list .nav_link::before,
.nav_list .nav_link::before {
  position: absolute;
  content: " ";
  bottom: 19px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ae7c78;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.nav_list .nav_link:hover::after,
.nav_list .nav_link:focus::after {
  width: 100%;
}

.nav_list .nav_link:hover::before,
.nav_list .nav_link:focus::before {
  width: 100%;
}


/* section promo */
h1 {
  margin-top: -10px;
}

.header_promo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-template-rows: auto;
  column-gap: 20px;
  margin-top: 100px;
}

.header_promo_text h1 {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
}

.header_promo_text h1 span {
  font-family: 'Playfair Display Regular italic';
}

.header_promo_text p {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.button_link {
  display: block;
  max-width: 280px;
  padding: 28px 0;
  background: #d89999;
  border-radius: 40px;
  border: 2px solid #d89999;
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.button {
  width: 285px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: auto;
  padding-right: auto;
  background: #d89999;
  border-radius: 40px;
  border: 2px solid #d89999;
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.button:hover,.button_link:hover {
  background: #ffffff;
  color: #ae7c78;
  cursor: pointer;
}

.header_promo img {
  max-width: 100%;
}


.header_promo img:first-child {
  margin-top: 40px;
}

.header_promo img:last-child {
  margin-bottom: 16px;
}


/* section benefits */
.benefits {
  margin-top: 50px;
}

.benefits_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  column-gap: 20px;
  justify-content: space-between;
}

.benefits_block {
  align-items: flex-start;
}


.benefits_text {
  margin-left: 20px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.benefits_text h3 {
  font-family: 'Montserrat Medium';
  font-weight: 500;
  margin-top: 0;
}

.benefits_text p {
  font-family: 'Montserrat Regular';
  font-weight: 400;
}


/* section popular */
.popular {
  margin-bottom: 70px;
  text-align: center;
}

.slider_order_wrapper { 
  max-width: 380px;
  text-align: left;
}

.slider_wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.slider_text_wrapper {
  flex-direction: column;
  align-self: center;
  text-align: start;
  max-width: 372px;
}


.slider_text_wrapper dl {
  margin-bottom: 60px;
}

.slider_text_wrapper dd {
  margin-top: 30px;
  margin-left: 0;
}

.slider_img {
  max-width: 372px;
}

.bouquet_name {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.description {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.size {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.price {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}


/* section catalog */
.catalog {
  margin-bottom: 80px;
}
.catalog_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: auto; */
  column-gap: 20px;
  grid-template-rows: 442px;
  padding: 0;
  margin-bottom: 10px;
}

.catalog_item:nth-child(1) {
  background: url('../img/bg_bouquet.png') no-repeat center;
}

.catalog_item:nth-child(2) {
  background: url('../img/bg_bouquet2.png') no-repeat center;
}

.catalog_item:nth-child(3) {
  background: url('../img/bg_bouquet3.png') no-repeat center;
}

.catalog_item:hover {
  opacity: 1;
}

.catalog_link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px;

  background: rgba(174, 124, 120, 0.6);
  background-size: cover;

  font-family: 'Playfair Display Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}



/* section discount */
.discount {
  margin-bottom: 70px;
}

.discount_wrapper {
  max-height: 391px;
  justify-content: space-between;
  background: #AE7C78;
  color: #ffffff;
}

.discount_text {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #AE7C78;
}

.text_wrapper {
  width: 390px;
}

.text_wrapper h3 {
  font-family: 'Playfair Display Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: 0.02em;
}

.text_wrapper p {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}


/* section steps */
.steps {
  margin-bottom: 80px;
}

.steps_container {
  text-align: center;
}

.steps_wrapper {
  justify-content: space-around;
}

.steps_block {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.steps_block h3 {
  font-family: 'Montserrat Medium';
  font-weight: 500;
}

.steps_block p {
  font-family: 'Montserrat Regular';
  font-weight: normal;
  text-align: center;
}



/* section news */

.news_wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(82px, 1fr));
  grid-gap: 20px;
}

.news_text {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: left;
}

.news_text p {
  font-family: 'Montserrat Regular';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.news_img {
  display: grid;
  grid-column-start: 6;
  grid-column-end: 12;
  grid-auto-flow: dense;
  grid-gap: 20px;
  grid-template-areas: "small-1 huge"
                        "small-2 huge";
}

.small-1 {
  grid-area: small-1;
 }
 
 .huge {
   grid-area: huge;
 }

 .small-2 {
  grid-area: small-2;
 }


/* section reviews */
.reviews {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.reviews_container {
  padding-bottom: 50px;
  border: 1px solid #AE7C78;
}

.reviews_wrapper {
  justify-content: space-around;
  align-items: center;
}

.reviews_block {
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.reviews_block p {
  font-family: 'Montserrat Regular';
  font-weight: normal;
  text-align: center;
}

.reviews_block cite {
  font-family: 'Montserrat Medium';
  font-weight: 500;
  font-style: normal;
}


/* section contacts */
.contacts {
  background: url('../img/map.png') no-repeat center;
  background-size: cover;
  padding-top: 52px;
  padding-bottom: 72px;
}

.contacts_text {
  width: 386px;
  margin-left: 100px;
  padding-left: 35px;
  padding-top: 40px;
  padding-bottom: 65px;
  background: #F7FAFC;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.contacts_text p {
  font-family: 'Montserrat Regular';
  font-weight: normal;
}

.contacts_text p span {
  font-family: 'Montserrat Medium';
  font-weight: 500;
}

.contacts_text a {
  color: #AE7C78;
}


/* footer */
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #AE7C78;
}

.footer_nav {
  justify-content: space-between;
  align-items: center;
}

.footer_navigation_menu {
  justify-content: center;
  align-self: center;
}

.footer_navigation li {
  margin: 0 30px;
}

.footer_navigation li:first-child {
  margin-left: 0;
}

.footer_navigation li:last-child {
  margin-right: 0;
}

.footer_navigation a {
  color: #ffffff;
}

.footer_navigation a::after,
.footer_navigation a::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.footer_navigation a::before,
.footer_navigation a::before {
  position: absolute;
  content: "";
  bottom: 19px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.footer_navigation a:hover::after,
.footer_navigation a:hover::after {
  width: 100%;
}

.footer_navigation a:hover::before,
.footer_navigation a:hover::before {
  width: 100%;
}


.social_icons_list {
  justify-content: space-between;
  max-width: 96px;
  height: 20px;
}

.social_icons_list li {
  margin-left: 6px;
  margin-right: 6px;
}

.social_icons_list li:first-child {
  margin-left: 0;
}

.social_icons_list li:last-child {
  margin-right: 0;
}